
@media (min-width:991px)  {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    width: 33%;
    border: 1px solid black;
    text-align: center;
  }

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .nav > li {
    width: 20%;
    display: inline;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px;
  }

  .content{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }

  .aside{
    width: 20%;
    border: 1px solid black;
  }

  .aside p {
    text-align: center;
    border: 1px solid black;
  }

  .article {
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
  } 

  .article p{
    border: 1px solid black;
    width: 50%;
  }
}

/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
@media (min-width:600px) and (max-width: 990px)  {
  header{
    display: none;
  }

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .nav > li {
    width: 20%;
    display: inline;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px;
  }

  .content * {
    border: 1px solid black;
  }

  .content{
    display: flex;
    flex-direction: row;
  }

  .aside{
    width: 20%;
  }

  .aside p {
    text-align: center;
  }

  .article {
    width: 80%;
  } 

  
}

/*  Small devices    */
@media (max-width:599px) {

  header, .content{
    display: none;
  }
  
  nav {
    height: 100vh;
  }

  .nav {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav > li {
    display: inline;
    border: 1px solid black;
    text-align: center;
  }


}


  
